.servicebot-table-base{

  @include mediaQuery(max, iPhone){
    margin-top: 40px;
  }

  .table{
    width: 100%;
  }

  .react-bs-table-tool-bar{

    .__base-table-search-bar{
      padding: 0;
      padding-top: $gutter*2;
      display: grid;
      grid-template-columns: auto 170px;

      @include mediaQuery(max, iPhone){
        grid-template-columns: auto;

        .buttons-group{
          display: none;
        }
      }

      ._input-{

        &.servicebot-search-input{
          height: 100%;
          
          @include mediaQuery(max, iPhone){
            border-radius: 5px;
          }
        }
      }
    }
  }

  .react-bs-table{

    table{

      @include mediaQuery(max, iPhone){
        display: block;
      }

    }

    thead{
      @include mediaQuery(max, iPhone){
        display: none;
      }

      th{

        &.sort-column{

          .text-filter{
            width: 100%;
          }
        }
      }
    }
    tbody{

      @include mediaQuery(max, iPhone){
        display: flex;
        flex-direction: column;
      }

      tr{

        @include mediaQuery(max, iPhone){
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          position: relative;
          margin: $gutter/2 0 ;
        }

        td{

          @include mediaQuery(max, iPhone){
            padding: 6px 8px;

            .status-badge{
              font-size: 0.7em;
            }

            &:nth-child(1){
              flex-basis: 100%;
              font-weight: 600;
            }
            &:not(:first-child){
              flex-basis: auto;
              padding: 2px 2px 2px 8px;
              font-size: 0.7em;

              * {
                font-size: 0.7em;
              }
            }
            &:last-child, .action-dropdown, .action-dropdown ._dropdown-toggle{
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              font-size: 0.95em;

              * {
                font-size: 0.95em;
              }

              ._dropdown-toggle{
                opacity: 0;
              }

              .dropdown-menu{
                position: absolute;
                top: calc(100% + 5px);

                li{
                  line-height: 2em;
                }
              }
            }
          }
        }
      }
    }
  }

  .react-bs-table-pagination {

    .row{
      display: grid;
      grid-template-columns: auto auto;
    }

    .pagination {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;

      .page-item {
        background: white;
        border-radius: 3px;
        min-width: 30px;
        padding: 0 $gutter / 2;
        text-align: center;

        &:not(:last-child){
          margin-right: $gutter / 2 ;
        }

        a{color: $color-dark-blue};

        &.active {
          background-color: $color-dark-blue;

          a{color: white};
        }
      }
    }
  }

}