.Invoice{
  @include text;

  .invoice-header{
    background-color: $color-dark-blue;

    .invoice-header-header{
      padding: $gutter;

      .invoice-entity{

      }

      .invoice-no{
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }

  .xaas-dashboard{

    .xaas-row{
      margin-bottom: 0;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      .xaas-title{
        background-color: $color-blue-gray;
        color: $color-white;
      }
    }
  }

  .entity-info{

    .invoice-entity-details{
      display: flex;

      &>div{
        flex-grow: 1;
      }
      &>div:first-child{
        padding-left: $gutter;
      }
      &>div:last-child{
        padding-right: $gutter;
      }

      h3{
        font-size: 1.2rem;
        margin: $gutter / 2 0;
      }

      .invoice-from-header, .invoice-to-header, .invoice-status-header{
        border-bottom: 1px solid $color-dark-blue;
        padding: $gutter/2 0;
      }

      .invoice-from-body, .invoice-to-body, .invoice-status-body{

        ul{
          padding: $gutter/2 0;

          li{
            font-size: 0.9rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .invoice-details{

    .table{

      thead{

        tr{

          th{
            background-color: $color-blue-gray;
          }
        }
      }

      tbody{

        tr{

          td{

          }
        }
      }

      tfoot{

        tr{

          td{

          }
        }
      }
    }

  }

  .invoice-actions{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}