.app-notification{

  ._toggle{
    padding: 6px 13px;
    cursor: pointer;
  }

  ._backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: $z-mini-notification_backdrop;
  }

  ._view-all{
    text-align: center;
    width: 100%;

    button{
      width: 100%;
    }
  }

}