.__my-profile{

  ._content-container ._content {
    .columns {
      display: grid;
      grid-template-columns: 30% 70%;

      @include mediaQuery(max, iPhone){
        grid-template-columns: 100%;
      }
    }
  }

  ._section{

    @include mediaQuery(max, iPhone){
      margin-bottom: 0;
    }

    &.__avatar-form{
      text-align: center;
      .avatar{
        margin: auto;
      }
    }
    &.__edit-form{

      .sb-form-group._group-default {
        width: 50%;
        min-width: 300px;
      }
      ._group-password-one, ._group-password-two{
        float: left;
        width: 50%;
        min-width: 300px;
      }

    }
  }

}