/* Embeddable Page Styling */

// Embeddable Cards - sidebar
.embeddable-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: $gutter * 1.5 $gutter * 1.5 $gutter;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  margin: 0 auto $gutter / 2 + 2;
  height: $gutter * 9;
  width: $gutter * 9;
  @include defaultTransition();

  &:hover, &.selected{
    @include defaultTransition();
    cursor: pointer;
    background-color: rgba(255,255,255,0.61);
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.1);

    ._label{
      @include defaultTransition();
    }
  }

  @include mediaQuery(max, iPhone){
    margin: $gutter/2;
    padding: $gutter/2;
    height: 114px;
    width: 114px;
  }

  &:first-of-type{
    margin-top: $gutter * 1.5;

    @include mediaQuery(max, iPhone){
      margin: $gutter/2;
    }
  }

  & ._icon {
    min-width: 50px;
    min-height: 50px;
  }

  & ._label {
    @include text_muted;
    @include defaultTransition;
    display: block;
    text-align: center;
    letter-spacing: 0.86px;
  }

  & ._description {
    @include text;
  }

}

// Embeddable Intro
.embeddable-intro{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  max-width: 400px;
  margin: auto;

  @include mediaQuery(max, iPhone){
    min-height: 0;
    padding: $gutter $gutter/2;
  }

  ._content-image{
    background-color: #F9FCFF;
    border-radius: 390px;
    padding: 60px;
    height: 410px;

    @include mediaQuery(max, iPhone){
      width: 280px;
      height: 280px;
    }

    img{
      max-width: 100%;
    }
  }

  ._content-text{
    @include text;
  }

}

// Page Overrides
#app-embeddables{

  ._content-container {

    @include mediaQuery(max, iPhone){
      display: flex;
      flex-direction: column;
    }

    ._sidebar {
      flex-basis: auto;

      @include mediaQuery(max, iPhone){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        max-width: none;
      }

      h2{
        width: 100%;
        flex-basis: 100%;
        display: none;
      }

      ._sub-heading {
        font-weight: 500;
      }
    }

    ._content {

      @include mediaQuery(max, iPhone) {
        width: 100%;
      }


    }
  }

}