.status-badge{

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  padding: 0 8px;
  background-color: #dedede;
  color: black;

  @include mediaQuery(max, iPhone){
    min-height: 18px;
    line-height: 18px;
    margin: 0;
  }

  .fa:not(:first-child){
    margin-left: 8px;
  }

  &.red{ background-color: $color-error; color: white; }
  &.green{ background-color: $color-success; color: white; }
  &.blue{ background-color: $color-blue; color: white; }
  &.grey, &.gray{ background-color: $color-gray; color: white; }
  &.yellow{ background-color: $color-warning; color: white; }
}