.s-alert-wrapper {
  position: fixed;
  z-index: $z-s-alerts;
  top: $nav-header-height + $gutter;
  right: $gutter;
  width: 300px;

  .s-alert-success{
    background-color: $color-success;
  }

  .s-alert-box {
    z-index: $z-s-alerts;
    position: absolute;
    width: 300px;

    .s-alert-show {

    }
  }
}

//normal alert
.alert{
  padding: $gutter/2 $gutter;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &.alert-success{
    background: $color-success;
    color: white;
  }
  .fa{
    margin-right: $gutter;
  }
  .button{
    background: none;
  }
}