.s-alert-wrapper {
  position: fixed;
  z-index: $z-s-alerts;
  top: $nav-header-height + $gutter;
  right: $gutter;
  width: 300px;

  .s-alert-success{
    background-color: $color-success;
  }

  .s-alert-box {
    z-index: $z-s-alerts;
    position: absolute;
    width: 300px;

    .s-alert-show {

    }
  }
}