.avatar {
  overflow: hidden;
  border-radius: 50%;

  &.__sm {
    width: 100px;
    height: 100px;
  }
  &.__md {
    width: 200px;
    height: 200px;
  }
  &.__lg{
    width: 300px;
    height: 300px;
  }

  img{
    width: 100%;
    height: 100%;
  }

  /* Uploader */
  .image-uploader & {
    position: relative;

    input#avatar{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
}

.messages {
  padding: $gutter;

  .message {
    width: 100%;
    height: auto;
    font-size: 1em;
    color: white;
    background: $color-secondary;
    padding: $gutter $gutter;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &.__success {
      background: $color-success;
    }

    &.__failure {
      background: $color-error;
    }

    &.__warning {
      background: $color-warning;
    }

    &.__success, &.__failure, &.__warning {
      a {
        color: $color-white;
      }
    }

    i {
      margin-right: $gutter/2;
    }

    a {
      opacity: 0.7;
    }
  }
}