@mixin modalTables{
  .table{
    margin-top: $gutter;
    font-size: 0.9rem;
    width: 100%;
    thead{
      color: #051f60;
      background: #ececec;
    }
    td{
      padding: 4px !important;
      font-size: 13px;

      &.__right{
        text-align: right;
      }
      &.__center{
        text-align: center;
      }
    }
  }
}

.modal-wrapper{

  .loader, .page-loader{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    background: white;
    left: 0 !important;

    &.servicebot-embed-custom-loader{
      @include embedLoader;
    }
  }
}

.servicebot-in-app-modal{

  &.__invoice{
    @include modalTables;
  }
}



/* Individual Modals */
.__modal{

  &.__upcoming-invoice{
    .__invoice-information{
      display: flex;
      justify-content: space-between;
      i{
        margin-right: $gutter/2;
      }
    }
    @include modalTables;
  }

}