@mixin steps{

  border: 2px solid currentColor;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  padding-right: 1px;
  padding-top: 1px;

}

@mixin _tier_box{

  flex-shrink: 0;
  height: 186px;
  width: 312px;
  border-radius: 3px;
  background-color: #36476B;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.28);
  list-style: none;
  margin-right: 16px;
  overflow: hidden;
}

@mixin list-boxes{

  list-style: none;
  padding: 0;

  li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background: $gray-bg;
    padding: 19px 50px;
    margin: 7px 0;
    @include defaultTransition(150ms);

    &:hover, &:active{
      background-color: #E0E8EE;
      @include defaultTransition(150ms);
    }

    p, span {
      font-size: 16px;
      color: #000;
      padding: 0;
      margin: 0;
      margin-bottom: 5px;
    }

    button.buttons{
      background-color: transparent;
      color: $gray-text;
      font-weight: 400;
      font-size: 14px;
    }
  }

}

/* fonts */
@mixin _section_heading{
  color: $color-heading;
  font-size: $section_heading;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 22px;
  font-family: "Open Sans", "Arial";
}
@mixin _label_text{
  @include _section_heading;
}

/* form */
@mixin _formGroup($direction){

  .form-group.form-group-flex {
    width: 100%;
    flex-direction: $direction;
    margin: 0 !important;

    @if($direction == 'column') {
      .form-label-flex-md{
        flex-basis: auto;
      }
    }
  }

}
@mixin  _formLabel($color){

  label{
    @if($color == 'dark'){
      color: $color-heading;
    }@else if($color == 'light'){
      color: $color-white;
    }@else{
      color: $color;
    }
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;
    font-family: "Open Sans", "Arial";
  }
}
@mixin _formInput{
  input, .form-control{
    color: $color-black;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid $color-heading;
    border-radius: 1px;
    height: 42px;
  }
}
@mixin defaultTransition($speed:""){
  @if($speed) {
    transition: all $speed linear;
  }
  @else {
    transition: all 300ms linear;
  }
}

@mixin border{

  border: 1px solid $color-light-blue-gray;
  box-shadow: inset 1px 1px 3px 0 #CCD1D9;
  border-radius: 1px;

  &:focus{
    border-color: $color-blue;
  }
}

@mixin resetUl{
  list-style: none;
  padding-left: 0;
}

@mixin fadeInContent{
  &>div, &>span, &>li{
    animation: fadeIn 600ms;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin fadeUpContent($top1, $top2, $time: 400ms){

  animation: moveUp $time;
  animation-fill-mode: forwards;

  @keyframes moveUp {
    0% {
      opacity: 0;
      top: $top1;
    }
    100% {
      opacity: 1;
      top: $top2;
    }
  }
}
@mixin fadeDownInAppModal($top1, $top2, $time: 400ms){
  animation: moveDown $time;
  animation-fill-mode: forwards;

  @keyframes moveDown {
    0% {
      opacity: 0;
      top: $top1;
    }
    100% {
      opacity: 1;
      top: $top2;
    }
  }
}

/* Modals */
@mixin modalBackdrop(){
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 102;
}

@mixin breakpoint($point) {
  @if $point == FourK {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == TwoK {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == Retina {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == FullHD {
    @media (max-width: 1080px) { @content; }
  }
  @else if $point == iPad {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == iPhone {
    @media (max-width: 414px) { @content; }
  }
}