.page{
  padding: $gutter*1.5 $gutter * 3;
}
.page, .app-content{

  /* System */
  &.__dashboard{

  }

  &.__manage-services{


  }

  &.__manage-subscriptions{


  }

  &.__manage-users{

    padding-bottom: 160px;

  }

  &.__manage-notification-templates{

  }

  /* Settings */
  &.__manage-system-settings{

  }
  &.__manage-stripe-settings{

  }
  &.__servicebot-webhooks{

    ._section{
      position: relative;

      & > h3{
        margin-bottom: $gutter !important;
      }

      .buttons-group{
        margin-top: $gutter;
      }

      &.__webhook-event-info{
        min-height: 100px;

        .tiers{
          margin-top: $gutter * 2;
        }
      }

      .hooks-list {
        display: grid;
        grid-row-gap: $gutter / 2;

        ._hook {
          display: grid;
          grid-template-columns: auto auto auto auto;
          align-items: center;

          .buttons-group {
            margin: 0;
          }
        }
      }
    }

    #button-view-events{
      position: absolute;
      right: $gutter * 1.5;
      top: $gutter;
    }
  }

  /* Profile */
  &.__view-my-profile{


  }

  &.__manage-my-profile{


  }

  &.__manage-my-cards{


  }

  &.__manage-my-instance{


  }

  /* Billing */
  &.__billing-history{


  }

  &.__billing-invoice{

  }

  /* Notifications */
  &.__manage-notifications{

  }

}