.buttons-group{

  &.__gap{

    .buttons {
      &:not(:last-child) {
        margin-right: $gutter/2;
      }
    }
  }

}

.buttons{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: $font-size - 2;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.rounded{
    border-radius: 50px;
  }

  &._add, &._primary{
    font-size: $font-size;
    padding: 14px 24px;
    background-color: #4C82FC;
    color: $color-white;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
  }

  &._save, &._success{
    font-size: $font-size;
    padding: 14px 24px;
    background-color: #1ABE98;
    color: $color-white;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
  }

  &._text{
    background: none !important;
    color: $color-blue-gray !important;
    box-shadow: none !important;
  }

  &._green {
    background-color: #1ABE98;
    color: white;
  }

  &._red {
    background-color: #db0306;
    color: white;
  }

  &._navy {
    background-color: #031f5f;
    color: white;
  }

  &._yellow {
    background-color: #ffca00;
    color: #484848;
  }

  &._default {
    font-size: $font-size;
    background-color: $blue;
    color: $color-white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
    letter-spacing: 1px;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &._right{
    float: right;
  }

}


.action-column{
  overflow: visible !important;
  text-align: right !important;
}
.action-dropdown{
  position: relative;
  
  &.open{
    
    .dropdown-menu{
      display: block;
      z-index: $z-dropdown;
      box-shadow: $shadow-small;
    }
  }

  .dropdown-menu{
    background: white;
    position: absolute;
    top: 56px;
    right: 0;
    list-style: none;
    padding: 0;
    border-radius: 6px;
    display: none;

    li{
      cursor: pointer;
      padding: 4px 24px;

      &:hover{
        background-color: #f2f2f2;
      }

      &.divider{
        padding: 0;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  }
}


.clear{
  display: block;
  clear: both;
}