$color-white: #fff;
$color-black: #000;
$color-extra-light-gray: #F6F8F9;
$color-light-gray: #F7F8FA;
$color-light-blue-gray: #EBF3F9;
$color-medium-blue-gray: #4f6185;
$color-blue-gray: #475981;
$color-dark-blue: #081C49;

//Buttons
$color-success: #1ABE98;

//headings
$color-heading: #6F7F9F;

//Nav
$color-nav-checklist: $color-heading;
$color-nav-checklist-text: $color-white;
$color-nav-parent-active: $color-dark-blue;
$color-nav-child-active: $color-medium-blue-gray;

//_title-container
$color-title-container-border: #B9BBCB;

//_sections
$help-text: $color-heading;

//_tiers
$color-tier-active-border: #0CFFCD;
$color-tier-box: #36476B;
$color-tier-heading: $color-heading;


//Pre
$color-pre: #081C49;