/* reset */
@import "reset";

/* mixins */
@import "_mixins";
@import "css-icons";
@import "responsive";

/* variables */
@import "variables";
@import "colors";
@import "text";

/* elements */
@import "buttons";
@import "modals";
@import "_elements";
@import "_element-modal";
@import "_element-modal-invoice";
@import "_element-s-alert";
@import "_element-badges.scss";
@import "_element-user-widgets.scss";
@import "_element-dashboard-widgets.scss";

/* layout components */
@import "_layout-nav";
@import "_layout-content";
@import "_layout-columns";

/* component */
@import "_component-base-table.scss";
@import "_component-forms";
@import "_component-tier";
@import "_component-forms-offering";
@import "_component-forms-email-template";
@import "_component-forms-user-edit";
@import "_component-form-request-service-for-user";
@import "_component-embeddables-config-checkout.scss";
@import "_component-embeddables";
@import "_component-embeddables-checkout";
@import "_component-notifications-list";
@import "_component-invoice";

/* pages */
@import "_pages.scss";

/* embeddable in-app overrides */
@import "_component-embeddables-billing-overrides.scss";


body {
  line-height: 1.9rem;
  
  a{
    &:hover{
      text-decoration: none;
    }  
  }
  img {
    @include text_muted;
  }

}