.modal-wrapper{
  z-index: $z-modal;

  .modal{
    max-width: 100%;
    background: rgba(255, 255, 255, 0.858824);
  }

  .modal-backdrop{
    @include modalBackdrop;
  }
}

.servicebot-in-app-modal {
  z-index: $z-modal + 1;
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: $nav-panel-width /2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 70%;
  @include fadeDownInAppModal(30%, 32%);

  .modal-content {
    background-color: #F9FCFF;
    border-radius: 2px;
  }

  .modal-header {
    background: #031f5f;
    color: white;
    padding: 15px 20px;

    .modal-title {
      font-size: 1.1rem;
      font-weight: normal;
      letter-spacing: .5px;
    }

    .modal-icon {
      margin-right: 20px;
    }

    .close {
      color: white;
      opacity: 0.6;
      font-weight: 100;
      margin-top: 0px;
    }
  }

  .modal-footer {
    text-align: right;
    padding: 15px 20px;
  }
}