.modal-wrapper{
  z-index: $z-modal;

  .modal{
    max-width: 100%;
    background: rgba(255, 255, 255, 0.858824);
  }

  .modal-backdrop{
    @include modalBackdrop;
  }
}

.servicebot-in-app-modal {
  z-index: $z-modal + 1;
  position: fixed;
  top: 33%;
  margin-left: $nav-panel-width /2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 580px;
  max-width: 70%;
  left: 50%;
  transform: translate(-50%);
  @include fadeDownInAppModal(30%, 32%);

  @include mediaQuery(max, iPhone){
    margin-left: $nav-panel-width-collapsed / 2;
    max-width: calc(100% - 74px);
    top: 80px;
    @include fadeDownInAppModal(75px, 85px);
  }

  &.__invoice{
    width: 100%;
  }

  .modal-content {
    background-color: #F9FCFF;
    border-radius: 2px;
  }

  .modal-header {
    background: #031f5f;
    color: white;
    padding: 15px 20px;

    .modal-title {
      font-size: 1.1rem;
      font-weight: normal;
      letter-spacing: .5px;
      margin-bottom: 0;
    }

    .modal-icon {
      margin-right: 20px;
    }

    .close {
      color: white;
      opacity: 0.6;
      font-weight: 100;
      margin-top: 0;
      background: none;
      border: none;
      right: 16px;
      position: absolute;
    }
  }

  .modal-body{
    padding: $gutter;

    @include mediaQuery(max, iPhone){
      padding: 12px;

      .sb-form-group{
        padding: 6px 0;
      }
    }
  }

  .modal-footer {
    text-align: right;
    padding: 15px 20px;
    border-top: 1px solid #eee;

    &.hide{
      display: none;
    }
  }
}