/* _section font */
$section_heading: 16px;

@mixin text{
  color: $color-blue-gray;
  font-size: 14px;
  font-family: "Open Sans", "Arial";
}
@mixin text_muted{
  @include text;
  color: $color-heading;
  font-size: 12px;
}

@mixin sub_heading{
  color: $color-heading;
  line-height: 22px;
  font-size: 16px;
  font-family: "Avenir", "Arial";
}
._sub-heading{
  @include sub_heading;
}

body{
  font-family: "Open Sans", "Arial";
}
h1, h2, h3, h4, h5, h6{
  font-family: "Avenir", "Arial";
}

.content-title{

  h3, h4{
    font-weight: 500;
    color: #30468a;
  }
}

.capitalize{
  text-transform: capitalize;
}