/* font */
$font-family: 'Helvetica', sans-serif;
$font-size: 14px;
$nav-font-family: 'Avenir', 'Helvetica', sans-serif;

/* gutters */
$gutter: 16px;

/* layout */
$nav-header-height: 60px;
$nav-panel-width: 280px;

/* z-indexes */
$z-nav-header: 9920;
$z-nav-panel: 9910;
$z-mini-notification: 999999;