/* font */
$font-family: 'Helvetica', sans-serif;
$font-size: 14px;
$nav-font-family: 'Avenir', 'Helvetica', sans-serif;

/* gutters */
$gutter: 16px;

/* layout */
$nav-header-height: 57px;
$nav-panel-width: 280px;
$content-sidebar-max-width: 300px;
$nav-panel-width-collapsed: 50px;
$nav-header-height-mobile: 60px;
$nav-panel-width-mobile: 280px;
$nav-panel-width-mobile-closed: 0px;

/* z-indexes */
$z-s-alerts: 9941;
$z-mini-notification: 9940;
$z-mini-notification_backdrop: 9939;
$z-modal: 9930;
$z-dropdown: 9929;
$z-nav-header: 9920;
$z-nav-panel: 9910;
$z-loader: 9900;

/* shadows */
$shadow-small: 0 2px 4px 0 rgba(0, 0, 0, 0.17);

/* forms */
$_max-fields-width: 50%;
$_min-fields-width: 300px;

/* Colors */
$blue: #4C82FC;
$dark-blue: #1b4cb9;
$navy: #091d49;

/* Nav bar icons */
$dashboard: url('/assets/SB_Icon_Menu/Home.png');
$services: url('/assets/SB_Icon_Menu/Subscriptions.png');
$helpcenter: url('/assets/SB_Icon_Menu/Help.png');
$subscriptions: url('/assets/SB_Icon_Menu/Manage.png');
$users: url('/assets/SB_Icon_Menu/Users.png');
$settings: url('/assets/SB_Icon_Menu/Settings.png');
$integrations: url('/assets/SB_Icon_Menu/Billing.png');
$embed: url('/assets/SB_Icon_Menu/Integrations.png');