$widget-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);

.dashboard-widgets{

  display: grid;
  color: white;
  overflow: hidden;
  border-radius: 3px;

  .dashboard-widget{
    box-shadow: $widget-shadow;
    margin-right: 6px;
  }

  &.__top-widgets{
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
  }

  &.__metrics-widgets{
    grid-template-columns: 33.33% auto 33.33%;

    .section-wrapper{
      color: black;
      overflow: hidden;
      margin-right: 6px;
      border-radius: 3px;
      background-color: white;
      box-shadow: $widget-shadow;

      .dashboard-widget{
        margin: 5px;
        box-shadow: none;
      }
    }
  }

  &.__churn-widgets{
    grid-template-columns: 50% 50%;
  }

  .widget-data{
    font-weight: 300;
    text-rendering: optimizeLegibility;;
  }

}