.sign-in, .sign-up {
  position: relative;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}

.sign-in h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sign-in p {
  color: #616161;
}

.sign-in .form-group {
  margin-bottom: 20px;
}

.sign-in .checkbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sign-in .btn {
  margin-bottom: 20px;
}

.sign-in .sign-up-link a, .sign-up-link a {
  color: #0d47a1;
}

.sign-in .copyright {
  font-size: 0.8rem !important;
  color: #9e9e9e;
}

/* modal sign-in */
.modal .sign-in {
  box-shadow: none;
  background: none;
}

/* front login page */
body.login .featured{
    background: none;
}
.login-brand{
  margin-bottom: 30px;
}

@media (max-width: 543px) {
  .sign-in, .sign-up {
    max-width: 500px;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}

