.sign-up {
  max-width: 800px;
  position: relative;
  margin: 80px auto;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px 40px 20px 40px;
  margin-bottom: 25px;
}

.sign-up h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sign-up p {
  color: #616161;
}

.sign-up .form-group {
  margin-bottom: 20px;
}

.sign-up .checkbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sign-up .btn {
  margin-bottom: 20px;
}

.sign-up .sign-up-link a {
  color: #0d47a1;
}

.sign-up .copyright {
  font-size: 0.8rem !important;
  color: #9e9e9e;
}
