.unlock-account {
  position: relative;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px;
}

.unlock-account .img-circle {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  margin: 0 auto 40px auto;
  height: 120px;
  width: 120px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.unlock-account h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.unlock-account p {
  color: #616161;
  text-align: center;
}

.unlock-account .form-group {
  margin-bottom: 20px;
}

.unlock-account .btn {
  margin-top: 40px;
  margin-bottom: 20px;
}

.unlock-account .sign-up-link a {
  color: #0d47a1;
}

.unlock-account .copyright {
  font-size: 0.8rem !important;
  color: #9e9e9e;
}

@media (max-width: 543px) {
  .unlock-account {
    max-width: 500px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .unlock-account {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .unlock-account {
    width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .unlock-account {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .unlock-account {
    width: 800px;
  }
}
