.servicetron .jumbotron h1 {
  font-size: 1.8rem;
  font-weight: 100;
}

.servicetron .jumbotron .breadcrumb {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 1rem;
  font-weight: 300;
}

.servicetron .jumbotron .btn-primary.btn-outline {
  float: right !important;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  border-color: #fff;
}

.servicetron .jumbotron .btn-primary.btn-outline:hover, .servicetron .jumbotron .btn-primary.btn-outline:active, .servicetron .jumbotron .btn-primary.btn-outline:focus {
  color: #fff;
  border-color: #fff;
}

.servicetron .jumbotron .bmd-btn-fab {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(-55px, -25px, 0);
          transform: translate3d(-55px, -25px, 0);
  z-index: 2;
}

.servicetron .jumbotron .dropdown-menu {
  top: 182px;
  right: 90px;
  width: 220px;
}

.servicetron .jumbotron .dropdown-menu .dropdown-item {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #212121;
}

.servicetron .jumbotron .dropdown-menu .dropdown-item .icon {
  margin-right: 10px;
}

.servicetron .jumbotron .dropdown-menu .dropdown-item .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

[data-navbar="primary"] .servicetron {
  background-color: transparent;
  color: #ffffff;
}

[data-navbar="primary"] .servicetron .jumbotron {
  background-color: transparent;
  color: #ffffff;
}

[data-navbar="primary"] .servicetron .jumbotron .btn-outline {
  color: #ffffff;
  border-color: #ffffff;
}

[data-navbar="primary"] .servicetron a {
  color: #ffffff;
}



@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 30px 45px 45px;
    margin-bottom: 0px;
  }
}

@media (max-width: 543px) {
  .jumbotron{
    padding: 30px 15px;
  }
  .servicetron .btn-outline {
    display: none;
  }
  .servicetron .bmd-btn-fab {
    display: none;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .servicetron .btn-outline {
    display: none;
  }
  .servicetron .bmd-btn-fab {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .servicetron .btn-outline {
    display: none;
  }
  .servicetron .bmd-btn-fab {
    display: none;
  }
}
