html{
    font-size: 16px;
}
body.home .navbar a.dropdown-item{
    color: black;
}
body.front  .main .page-on-top{
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    margin-top: -130px;
    margin-bottom:30px;
    padding: 20px 150px;
}

/* background override */
body.home .featured{
    position: relative;
    height: 80vh;
    min-height: 650px;
    /*margin-top: -90px;*/
    margin-top: 0px;
}
body.home .featured-overlay, body.home .featured-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
body.home .featured-overlay{
    position: fixed;
    height:100vh;
}
body.home .featured-overlay{
    opacity: 0.7;
    z-index: 2;
}
body.home .featured-bg{
    background-image: url("../assets/backgrounds/citybackground.png");
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*border-bottom: 1px solid white;*/
    z-index: 1;
}
body.home #middle-column{
    z-index:20;
}

/* featured area */
.featured-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 150px;
}
.featured-area .search{
    text-align: center;
    position: relative;
}
#search-service-form{
    background-color: white;
    border-radius: 15px;
    height: 3.2rem;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
#search-service-label{
    position: absolute;
    left: 0px;
    color: #ababab;
    margin: 0px;
    line-height: 1;
    padding: 18px 25px;
    z-index: 10;
}
#search-service{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 20;
    margin: 0px;
    padding: 9px;
}
#search-service input{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#search-service .form-control:focus{
    box-shadow: none;
    border: none;
}
#search-service:focus{
    background-color: white;
}
#search-category{
    position: absolute;
    top: 0;
    right: -1px;
    background: #000000;
    border-left: 1px solid #e4e4e4;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /*padding-right: 60px;*/
    margin: 0px;
    color: white;
    height: 3.2rem;
    width: auto;
    z-index: 30;
}
#search-category select{
    color: white;
    border: none;
    height: 36px;
    width: 200px;
}
#search-category select:focus{
    border: none;
    box-shadow: none;
}
#search-category-caret {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 1.25rem;
    z-index: 40;
}
#search-service-button{
    top: 80px;
}

/* content */
.all-services .row{
    align-items: stretch;
    -webkit-align-items: stretch;
}
.all-services .row>div{
    margin-bottom: 20px;
}

/* content footer */
.content-footer{
    padding: 40px 0px 20px;
}


/* elements */
.btn.btn-rounded.btn-lg{
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;;
}
.btn.btn-white.btn-flat:hover, .btn.btn-white.btn-flat:focus, .btn.btn-white.btn-flat:active {
    background: rgba(238, 238, 238, 0.51);
    color: #3a3a3a;
}
.btn.btn-signup, .btn.btn-signout, .btn-login{
    font-weight: 900;
}
.flat-input {
    border: none;
    padding: 0.46875rem 1rem;
    margin-bottom: 15px;
}
.flat-input .form-control {
    background: none !important;
}
.flat-input input[type=text].form-control:focus {
    background: white !important;
}
.flat-rounded {
    border-radius: 15px;
}
.flat-full{
    width: 100%;
}
.flat-lg, .flat-lg input{
    font-size: 1.05rem;
}
.flat-bolder{
    font-weight: 900;
}

/* helper classes */
.uppercase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}
.white{
    color: white;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}


/* front services page */
#front-service-request .featured{
    height: 340px;
}
#front-service-requestbody.home .featured{
    background-image: url("../../../xaas-ui/assets/xaasfrontbackground7spacehd.jpg");
}
body.front  .main .page-on-top.one-service{
    /*box-shadow: none !important;*/
    padding: 60px 350px 100px;
}

textarea:focus, input:focus, button:focus, select:focus { outline: none; }

/* animation */
@-webkit-keyframes jump {
    0%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(14deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(14deg);
    }
    20%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(-9deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-9deg);
    }
    40%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(5deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(5deg);
    }
    50%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(4deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-4deg);
    }
    60%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(5deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(2deg);
    }
    80%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(5deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-1deg);
    }
    100%{
        -webkit-tranform-origin: 50%, 50%, 0;
        -webkit-transform: rotate(5deg);
        tranform-origin: 50%, 50%, 0;
        transform: rotate(0deg);
    }
}
@keyframes jump {
    0%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(14deg);
    }
    20%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-9deg);
    }
    40%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(5deg);
    }
    50%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-4deg);
    }
    60%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(2deg);
    }
    80%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(-1deg);
    }
    100%{
        tranform-origin: 50%, 50%, 0;
        transform: rotate(0deg);
    }
}

/* responsive */
/* medium laptop */
@media (max-width: 1280px){
    body.front  .main .page-on-top{
        padding: 20px 70px !important;
    }
}
/* iPad */
@media (max-width: 1024px){
    body.front  .main .page-on-top{
        padding: 20px 40px !important;
    }
    .navbar .navbar-left-links,
    .navbar .welcome,
    .nav.nav-inline.navbar-left-icons{
        display: block;
    }
    .navbar .navbar-left-links .nav-item:not(:first-child){
        display: none;
    }
    .navbar,
    .btn.btn-signup,
    .navbar .navbar-left-links .nav-item .nav-link{
        font-size: 1rem;
    }
    .nav-inline .nav-item + .nav-item, .nav-inline .nav-link + .nav-link{
        margin-left: 0.8rem;
    }

    #middle-column{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .side-columns{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
/* iPad - Vertical */
@media (max-width: 768px) {
    /* .navbar{*/
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
    /*}*/
    .navbar .navbar-left-icons{
        -webkit-box-flex: 0.15;
        -ms-flex: 0.15;
        flex: 0.15;
    }
    .navbar, .btn.btn-signup, .navbar .navbar-left-links .nav-item .nav-link {
        font-size: 0.75rem;
    }
    body.home .featured{
        background-position: 65% -50px;
    }
}
/* Small tablet or Phablet Down*/
@media (max-width: 600px){
     .navbar{
        padding-left: 30px;
        padding-right: 30px;
    }
    .featured{
        height: 540px;
    }
    #search-service-form {
        height: 6.45rem;
    }
    #search-category {
        top: auto;
        right: 0px;
        bottom: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        border: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #search-category select{
        width: 100%;
    }
    #search-category-caret {
        top: auto;
        bottom: 20px;
    }
}
/* iPhone 6 Plus Down */
@media (max-width: 414px) {
    [data-navbar="primary"] .featured{
        background-position: 72% -70px;
    }
}