body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.btn {
  color: #212121;
}

a {
  color: #03a9f4;
  /*text-decoration: underline;*/
}

a:hover, a:focus, a:active,
.btn:hover,
.btn:focus,
.btn:active {
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}

input:-moz-focusring {
  text-shadow: 0 0 0 transparent;
}

.widget {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.widget .title {
  margin-bottom: 30px;
}

::-moz-selection, input-moz-selection {
  background-color: #5f5f5f;
  color: #f3f3f3;
}

::selection {
  background-color: #5f5f5f;
  color: #f3f3f3;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
