.xaas-dashboard {
    color: #6f6f6f;
}
.xaas-row {
    margin-bottom: 10px;
    border: 1px solid #bec6d0;
    border-radius: 3px;
    overflow: hidden;
    background: #d9e1ea;
}
.xaas-row .btn{
    margin-bottom:0px;
    margin-top: 3px;
}
.xaas-row:first-child {
    /*border-top: none;*/
}

.xaas-title h5{
    margin-bottom: 0px;
    line-height: 36px;
}

.xaas-title, .xaas-body-row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 8px 15px;
}

/* flex sizes*/
/*.xaas-title .xaas-data {*/
    /*flex: 1;*/
/*}*/
/*.xaas-title .xaas-category {*/
    /*flex: 2;*/
/*}*/
/*.xaas-title .xaas-service {*/
    /*flex: 7;*/
/*}*/
/*.xaas-title .xaas-price {*/
    /*flex-grow: 2;*/
/*}*/
.xaas-title .xaas-data {
    padding: 0px 8px;
}
.xaas-title .xaas-data:first-child, .xaas-title .xaas-data.xaas-service {
    padding-left: 0px;
}
.xaas-title .xaas-data:last-child {
    padding-right: 0px;
}
.xaas-title .xaas-status {
    margin-top: 4px;
}
.xaas-title .xaas-status .status {
    font-size: 0.95rem;
    padding: 6px 0px;
}
.xaas-title .xaas-category {
    display: none;
}
.xaas-title .xaas-service-icon {
    width: 20px;
}
.xaas-title .xaas-action {
    flex: 2;
    text-align: right;
}
.xaas-body .xaas-data {
    flex: 1;
}
.xaas-body .xaas-charge {
    flex: 9;
}
.xaas-body .xaas-price {
    flex-grow: 3;
}
.xaas-body .xaas-action {
    flex: 2;
}
.xaas-body .xaas-price, .xaas-body .xaas-action{
    text-align: left;
}

/* colors */
.xaas-title .xaas-price {
    float: left;
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 25px;
    margin-top: 6px;
    vertical-align: middle;
    line-height: 25px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #bdc6d0;
    padding: 0 8px;
}

.xaas-title .xaas-price.red {
    background: #d90303;
    color: white;
    border: 0;
}

.xaas-row.cancelled .xaas-title, .xaas-row.cancelled .xaas-title .btn {
    background-color: #f3f3f3;
    color: #d4d4d4;
}

.xaas-row .waiting{
    color: #ffffff;
}
.xaas-title:hover {
    color: #212121;
    background-color: #f2f9ff;
}
.waiting .xaas-body-row {
    background-color: #fff1f1;
}
.waiting .xaas-body-row{
    border-bottom: 1px solid #e2e2e2;
}
.waiting .xaas-body-row:last-child{
    border-bottom: none;
}




/* buttons */
.xaas-dashboard .btn .fa{
    margin-left:2px;
    font-size: 0.75rem;
    /*border: 1px solid #0091ea;*/
    padding: 1px 2px;
    border-radius: 3px;
    margin-right: 5px;
}
.xaas-row.cancelled .btn .fa{
    border: 1px solid #d4d4d4;
}
.xaas-row.approval .btn .fa{
    padding: 1px 1px;
}

/* button hovers */
.xaas-dashboard .xaas-title .btn:hover .fa {
    /*background-color: #0091ea;*/
    color: #000000;
    border-color: #0091ea;
}
.btn.btn-outline.btn-white:hover {
    background-color: white;
    color: #1976d2;
}
/*.xaas-row.waiting .xaas-title:hover .btn,*/
/*.xaas-row.waiting .xaas-title:focus .btn,*/
/*.xaas-row.waiting .xaas-title:active .btn,*/
/*.xaas-row.requested .xaas-title:hover .btn,*/
/*.xaas-row.requested .xaas-title:focus .btn,*/
/*.xaas-row.requested .xaas-title:active .btn{*/
    /*color: #0091ea !important;*/
    /*background: #eeeeee !important;*/
    /*box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);*/
/*}*/

.additional-charges-total {
    border-top: 1px dotted #d9030338;
}
.additional-charges-total.dark {
    border-top: 0;
    background: #f1f1f1;
}

.application-launcher, .application-launcher:hover {
    background: #2a79ff;
    color: white;
    border: 0;
}

/* Responsive */
@media (max-width: 414px){
    .xaas-title, .xaas-body-row{
        -webkit-flex-flow: row wrap;
    }
    .xaas-data.xaas-service, .xaas-data.xaas-status{
        width: 10%;
    }
    .xaas-data.xaas-service, .xaas-data.xaas-charge{
        flex: auto;
        width: 90%;
    }
    .xaas-title .xaas-data{
        padding: 0px 0px;
    }
    .xaas-title .xaas-data.xaas-service {
        padding-bottom: 8px;
    }
    .xaas-title .xaas-data.xaas-category{
        display: none;
    }
    .xaas-title .xaas-data.xaas-interval{
        padding-left: 10px;
    }
    .xaas-body .xaas-price{
        text-align: left;
    }


}


.dash-tour{
    background: white;
    border-radius: 5px;
    padding: 10px 30px;
}
/*progressbar*/
.progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    color: black;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    text-align: center;
}
.progressbar .active {
    font-weight: bold;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    position: relative;
    z-index: 1;
}
/*progressbar connectors*/
.progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: 0; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
    background: #27AE60;
    color: white;
}