/* Text */
body{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.9rem;
}
h1, h2, h3, h4, h5, h6, .card-title{
    font-family: 'Lato', "Helvetica", sans-serif;
    font-weight: 900;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
    margin: 0px;
    margin-bottom: 10px;
}
h5{
    font-size: 1.2rem;
}
.h3, h3{
    line-height: 33px;
}

hr {
    border-bottom: 2px dotted white;
}

#content-title h4 {
    font-size: 1.5rem;
}
.jumbotron h1{
    margin-top: 0px;
    margin-bottom: 5px;
}
.label{
    padding: .2em .0em .8em;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    text-align: left;
}

/*a:focus, a:hover{*/
    /*color: #3498db;*/
/*}*/

span.capitalize{
    text-transform: capitalize;
}
span.trimmed-text, .trimmed-text p {
    position: relative;
    display: inline;
}
span.trimmed-text:after, p.trimmed-text:after, trimmed-text p:after {
    background: -webkit-linear-gradient(0deg, rgba(249, 249, 249, 0) ,rgba(249, 249, 249, 0.73), rgb(249, 249, 249) 25px);
    content: '';
    position: absolute;
    height: 20px;
    width: 30px;
    bottom: -1px;
    right: 0px;
}
span.btn-link{
    cursor: pointer;
    text-decoration: none;
    color: #00a9f1;
}
.read span.btn-link{
    color: #333;
}
span.btn-link:hover{
    text-decoration: none;
    color: #0097f1;
}

/* layouts */
.app-container{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}
.centered-box{
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main {
    min-height: 88vh;
}
.main .section {
    padding: 60px 0px;
    position: relative;
    min-height: 88vh;
}

.section-heading {
    position: relative;
    margin-bottom: 60px;
    width: auto;
    text-align: center;
}

.section-heading:after {
    content: "";
    width: 170px;
    border-bottom: 6px solid black;
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
}

.page-service-instance{
    padding:30px 45px;
}

/* forms */
.form-control, .StripeElement{
    box-shadow: none;
}
label, .help-block, .bmd-help{
    color: #797979;
    font-size: 16px;
}
.has-error .form-control{
    border-color: #fa755a !important;
}
#card-errors, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{
    color: #fa755a;
}
.form-control, .custom-file-control{
    color: rgba(0, 0, 0, 0.80);
}
.form-control.has-error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.radio label, .is-focused .radio label, .radio-inline, .is-focused
.radio-inline, .checkbox label, .is-focused
.checkbox label, .checkbox-inline, .is-focused
.checkbox-inline, .switch label, .is-focused
.switch label{
    color: rgba(0, 0, 0, 0.80);
}

/*input[type="checkbox"] {*/
    /*border:0;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*box-sizing: borer-box;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*cursor: pointer;*/
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAABPElEQVRYR2NkGOSAcZC7jwHuQIf+8wI8///M/vvnr/e/f/85B8LhTEyM35lZmLd+YWRJPVBo+AHkBrgDfXpPrxEX5vc10FBgY2VhHgj3Mfz+85fhwo0Hv16+/bh5S7FpCIoDPbtOfPOyM+IcKMfBQgTkyG2Hzn3fXmbBheJA947j/wNdzAYk5NAtXb/nFMPOCktw7MKjeNSBJMTNaAiSEFhYlY6G4GgIUhoClOofTYOjIUhpCFCqfzQNjoYgpSFAqf7RNDgagpSGAKX6R9PgaAhSGgKU6h9Ng6MhSGkIUKp/aKZBj84T373tjTgGw/Db1oPnfuwotwAPoqIMYEqI8Pvqqw/sAObFmw9+vXiDZQATPAT878+cP3/+ev///5+D0nREjn5GRsYfLKAhYCaWFIwhYHIMpIeeQT/KDwCufyY4yfsy4gAAAABJRU5ErkJggg==);*/
/*}*/
/*input[type="checkbox"]:checked {*/
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAB1UlEQVRYR2NkGOSAcZC7jwHuQIf+8wI8///M/vvnr/e/f/85B8LhTEyM35lZmLd+YWRJPVBo+AHkBrgDfXpPrxEX5vc10FBgY2VhHgj3Mfz+85fhwo0Hv16+/bh5S7FpCIoDPbtOfPOyM+IcKMfBQgTkyG2Hzn3fXmbBheJA947j/wNdzAYk5NAtXb/nFMPOCktw7MKjeNSBJMTNaAiSEFhYlY6GIKEQlOJlYHj2GbeqAQ1BRwVGBjVhRoYDD/4z3Hz7f3BFMcxxMFdtvvUPa0gOSAiiO+7W2/8M+x8MkhAkxXGg0KVrCJLqOLo6kBzH0c2B5DqOIgeqCzMySPIygIsIfIASx5HtQJDjHBQgjR9Q+YXLkZQ6jmwHoluMzZHUcBzZDgRpxOdIajmOIgficiQo4kHVFwzgK4QJ1dMUOxCbI5EtpdRxVHEgLkdSw3FUcyC6I6nlOKo6EOZIEI2r4icmzaGroWtdPOpAckKAUj2jUTwagpSGAKX6saZBj84T373tjTgGw/Db1oPnfuwotwAPoqIMYEqI8Pvqqw/sAObFmw9+vXiDZQATPAT878+cP3/+ev///5+D0mgiRz8jI+MPFtAQMBNLCsYQMDkG0kPPoB/lBwDwEpw4srD5mQAAAABJRU5ErkJggg==);*/
/*}*/

/* data-form */
#form-debug-json{
    display: none;
}

/* system settings page */
.system-settings-group{
    margin-bottom: 20px;
}
.system-settings-page-form .system-settings-group {display: flex;flex-wrap: wrap;}

.system-settings-group-title {flex-basis: 100%;}

.system-settings-page-form .system-settings-group div {
    flex-basis: 33%;
    padding: 5px 10px 5px 0px;
}

/* service instance / details page */
#service-instance-description{
    min-height: 300px;
}
.instance-details{
    margin-bottom: 15px;
}
.instance-details-toggle{
    text-align: right;;
}
.page-service-instance .page-on-top>div {
}
.service-instance-section{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 20px 15px 15px;
    margin: 20px 0px;
}
.service-instance-section-label {
    margin-top: -35px;
    position: absolute;
    background: white;
    padding: 0px 7px;
    margin-left: -7px;
    font-weight: bold;
    color: #73d3ff;
}
#payment-plan-box, #instance-owner{

}
.payment-plan-fields{
    margin-bottom: 7px;
    text-transform: capitalize;
}
#instance-owner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
#instance-owner i{
    margin-right: 7px;
}

/* notification templates */
.notification-settings-section .form-control {
    display: inline;
    width: auto;
    height: auto;
}
ul.templateList {
    padding-left: 0px;
}

/* notification */
.datatable tr.unread{
    font-weight: bold;
}

/* billing settings*/
#payment-form h3 i{
    margin-right: 15px;
}
.card-accordion p{
    margin-bottom: 0;
}
.card-accordion i{
    margin-right: 15px;
}
.card-accordion .last4{
    margin-right: 30px;
}

    /* service details table */
table td.service-description{
    min-width: 300px;
}
table td.service-type, table td.service-billing-date, table td.service-price{
    min-width: 150px;
}
table th.permission-width{
    width: 60% !important;
}
.dataTables_filter input::-webkit-input-placeholder {
    font-size: 13px;
}
/* service comment */
span.comment-message {
    background-color: #e4e4e4;
    color: #0d47a1;
    padding: 3px 15px;
    border-radius: 15px;
    display: inline-block;
}
.comments {
    padding: 20px 0px;
}
.comments-list{
    padding-left: 0px;
    list-style: none;
}
.comment{
    display: flex;
}
.comment-icon {
    min-width: 40px;
    margin-right: 25px;
}
.message-date {
    position: absolute;
    right: 0px;
    color: #c7c7c7;
}
.comments li {
    padding: 5px 0px 13px;
}
.comments .media-body, .media-left, .media-right {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* service action block */
.service-block, p.catalog-description {

}
.service-block:last-child{
    /*border-bottom: 1px dashed #c7c7c7;*/
}
.service-field-block {
    border-bottom: none;
}
/* service details */
.front-line {
    width: 80%;
    height: 5px;
    top: -16px;
    left: 8px;
    position: absolute;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    background: #0d47a1;
}
.front-line2 {
    width: 80%;
    height: 3px;
    margin-left: 4px;
    top: -11px;
    left: 8px;
    position: absolute;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    background: #0091ea;
}

/* font */
.bold{
    font-weight: bold;
}

/* modal */
.modal{
    display: block;
}
.modal.modal-success .modal-header{
    background-color: #54b759 !important;
}


/* cards */
.card-top-icon{
    width: 100%;
    height: 76px;
}
.card-top-icon img{
    height: 42px;
    width: auto;
    margin: 17px;
}
.card-top-icon i{
    font-size: 3em;
    padding: 17px;
}
.card-top-icon.dark i{
    color: #fff;
}

span.one-time-charge-label {
    font-size: 0.7em;
    margin-left: 8px;
}

/*buttons*/
.btn-primary-important{
    color: #ffffff !important;
    border-width: 1px !important;
    border-color: #0091ea !important;
    background-color: #0091ea !important;
}
.btn-danger-important{
    color: #ffffff !important;
    border-width: 1px !important;
    border-color: #fd4921 !important;
    background-color: #fd4921 !important;
}
.btn.btn-success{
    /*background-color: #54b759 !important;*/
}
.btn.btn-request-service{
    background-color: #eeeeee !important;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* background-colors */
.bg-wordpress{
    background-color: #4ca6cf;
}
.bg-drupal{
    background-color: #0678BE;
}
.bg-woocommerce{
    background-color: #96588a;
}
.bg-android{
    background-color: #A4C639;
}
.bg-apple{
    background-color: rgb(0,122,255);
}
.bg-primary{
    background-color: #0d47a1;
}


/* service template form */
ul.custom-fields-list {
    list-style: none;
    padding: 0px;
}

.custom-fields-list h4 {
    display: inline-block;
}

.custom-field-button{
    float: right;
}
.custom-field-button:after{
    content: '';
    clear: both;
}

/* service template form review */
#review-content .label{
    color: #212121;
}

/* user profile page */
.edit-profile-image{
    text-align: center;
    padding: 30px;
}

.edit-profile-image .badge{
    margin-bottom: 15px;
}
.edit-profile-image button{
    margin-top: 7px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
}
.profile-info, .profile-info *{
    text-align: center;
}
.profile-info>div{
    margin-bottom: 45px;
}
.profile-info small{
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}
.profile-info small, .profile-header small{
    color: #a0a0a0;
}

/* service listing page */
.page-all-services .icon-heading{
    margin-bottom: 50px;
}
.category-filter .form-group {
    display: flex;
    margin: 4px 0px;
}
.category-filter label {
    width: 35%;
    text-align: right;
    padding-right: 15px;
}
.category-filter .form-control {
    width: 65%;
}

/* service request page */
.service-icon{
    width: 50px;
    float: left;
}
.service-icon.small{
    padding-top: 1px;
    margin-left: 5px;
    width: 25px;
}

.icon-heading *{
    text-transform: uppercase;
    font-weight: bold;
}
.icon-heading img{
    margin-right: 30px;
}

/* dashboard */
.dashboard-search-label{
    margin-right: 10px;
    font-size: 1rem;
    font-weight: normal;
}
.dashboard-charts{
    padding: 30px 15px;
    border: 1px solid #efefef;
    border-radius: 5px;
    margin: 30px 0px;
}
.customer-status-chart {
    margin: 0;
    padding: 0;
    border: 0;
}

/* manage catalog page */
.catalog-item-description{
    display: block;
    max-width: 500px;
    max-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#tables-datatable .dropdown-menu .dropdown-item{
    padding-right: 1rem;
    padding-left: 1rem;
    min-height: 1rem;
    width: auto;
}
#tables-datatable {
    /*margin-top: -33px;*/
}
.data-table-search label{
    margin-right:10px;
    width: 170px;
}
.data-table-search {
    float: right;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
}
.datatable thead th {
    position: relative;
}
.datatable th.sorted:after {
    font-family: FontAwesome;
    content: "\f0d8";
    padding-left: 10px;
    position: absolute;
    right: 10px;
}
.datatable th.sorted.desc:after {
    content: "\f0d7";
}
.datatable #action-buttons{
    float: right;
    margin-left: 5px;
}

/* crete template form */
#service-basic-info, #service-payment-info, #service-custom-props{
    background-color: #fff;
}

/* service request page */
.service-request-details, .service-request-form{
    padding: 15px;
}
.service-request-form label, .service-request-form .help-block, #card-errors{
    padding-left: 10px;
}
.service-request-form {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}
.service-request-form label {
    font-weight: normal;
}
.service-request-form .form-control, .StripeElement {
    border-color: #F0F0F0;
    border-radius: 8px !important;
    padding: 19px 10px !important;
    box-shadow: none !important;
}
.StripeElement{
    border-color: #F0F0F0 !important;
}
.service-request-form .icon-heading h3, .service-request-details .icon-heading h3{
    margin-bottom: 23px;
}
.service-request-form .icon-heading {
    margin-bottom: 35px;
}
/* loader animation */
.loading {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
.loading.done{
    display: none;
}
.loader p.loading{
    display: none;
}


/* React Transitions */
.fade-enter{
    opacity: 0;
}
.fade-enter.fade-enter-active{
    opacity: 1;
    transition: all 200ms ease-out ;
}
.fade-leave{
    opacity: 1;
}
.fade-leave.fade-leave-active{
    opacity: 0;
    transition: all 200ms ease-out;
}
.fade-appear {
    opacity: 0.01;
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: all 400ms ease-in;
}

/* 404 page */
.page-404 {
    background-color: #e0e0e0;
}
.page-404 .page-service-instance {
    padding: 0px;
    margin: 0px !important;
}
.btn-404-go-home{
    position: fixed;
    bottom: 30px;
}

.not-found-404 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-404-logo {
    text-align: center;
    padding: 60px 0px 10px;
}

.page-404-logo img {
    max-height: 80px;
}

.not-found-404 h1 {font-size: 13em;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* featured */
.featured{
    position: relative;
    height:auto;
    min-height: 660px;
    padding-top: 90px;
    text-align: center;
}
.featured-image {
    position: absolute !important;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.featured-icon{
    max-width: 70px;
    margin: 100px auto 60px;
    height: auto;
}
.featured-title, .featured-body, .featured-price{
    color: #ffffff;
    text-align: center;
    margin: 25px auto;
}
.featured-title, .featured-price {
    font-size: 36px;
}
.featured-body {
    font-size: 16px;
}
/*.featured-price{*/
    /*padding-bottom: 120px;*/
/*}*/
.request-featured-section {
    position: relative;
}

/* footer */
.footer {
    position: relative;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    color: #b1b1b1;
    font-size: 0.7rem;
    background-color: #000;
}
.footer img{
    height: 30px;
    margin-right: 8px;
    margin-left: -8px;
}
.footer p{
    margin: 0px;
    font-weight: bold;
}
.footer .powerby{
    margin-bottom: 20px;
}

.footer a.powerby-servicebot{
    color: rgb(160, 160, 160);
    letter-spacing: 1px;
    background: whitesmoke;
    padding: 10px 25px;
    border-radius: 5px;
}

body.login .footer{
    /*position: absolute;*/
    /*bottom: 0px;*/
    position: relative;
    bottom: 0px;
    /*margin-top: 50px;*/
}

/* sign up */
.agreement-checkbox.checkbox input.form-control {
    margin-top: 4px;
    width: auto;
    height: auto;
}
.agreement-checkbox.checkbox label{
    padding-left: 20px;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 50px;
    color: #a2a2a2;
    font-size: 0.8em;
    text-align: center;
}
.powerby{
    color: white;
}
.powerby-servicebot{
    color: white;
}
.powerby-servicebot:hover{
    color: whitesmoke;
}

/* app messages */
.app-messages {
    position: absolute;
    width: 100%;
    height: auto;
    top: 65px;
    left: 0px;
    margin: 0;
    color: #545454;
    font-size: 14px;
}
.app-messages p {
    margin: 0px;
}
.app-message{
    background: #000000;
    padding: 13px 45px;
    color: #ffffff;
    border: 3px solid #ffffff;
    animation: displayMessage 1s;
    margin: 0 auto;
    width: 55%;
}

#content-title{
    display: none;
}

.invited-user-profile {
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.purchases-header{
    margin-top: 30px;
    text-align: center;
}

.react-bs-table .react-bs-container-header>table>thead>tr>th {
    vertical-align: top !important;
}

/*
    Service Instance page
 */
.service-instance-box, .Collapsible {
    margin: 0 0 12px;
    background: #fff;
    border-radius: 4px;
    /*box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);*/
    border: solid 1px #cfdaea;
    overflow: hidden;
}
.service-instance-box-title, .Collapsible__trigger {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    /*box-shadow: inset 0 -1px #c9d5e0;*/
    color: black;
    background: #d9e1ea;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.Collapsible__trigger:hover {
    background: #304789;
    color: #ffffff;
}

.Collapsible__trigger {
    cursor: pointer;
}

.service-instance-box-content{
    height: auto;
    padding: 10px 20px;
}

.service-instance-box.red .service-instance-box-title {
    background: #da0304;
    box-shadow: inset 0 -1px #d90303;
    color: #ffffff;
}
.service-instance-box.red {
    border: solid 1px #d90303;
}

.service-instance-box.black .service-instance-box-title {
    background: #000000;
    box-shadow: inset 0 -1px #000000;
    color: #ffffff;
}
.service-instance-box.black {
    border: solid 1px #000000;
}
.service-instance-box-content .row {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    padding: 15px;
}

.service-instance-box-content .row .form-group {
    flex-basis: 25%;
}
.service-instance-box-content .row .form-group-flex{
    display: block;
}

.Collapsible.opened {
    border: solid 1px #314888;
}
.Collapsible__trigger.is-open {
    background: #304789;
    color: #ffffff;
}

.Collapsible.red {
    border: 1px solid #da0304;
}
.Collapsible.red .Collapsible__trigger {
    background: #da0304;
    color: white;
}
.Collapsible.red .Collapsible__trigger:hover {
    background: #c10001;
    color: white;
}

.Collapsible.purple {
    border: 1px solid #6e03da;
}
.Collapsible.purple .Collapsible__trigger {
    background: #6e03da;
    color: white;
}
.Collapsible.purple .Collapsible__trigger:hover {
    background: #5204a0;
    color: white;
}

.Collapsible.navy {
    border: 1px solid #034bda;
}
.Collapsible.navy .Collapsible__trigger {
    background: #034bda;
    color: white;
}
.Collapsible.navy .Collapsible__trigger:hover {
    background: #0741b3;
    color: white;
}

.Collapsible.yellow {
    border: 1px solid #ffa000;
}
.Collapsible.yellow .Collapsible__trigger {
    background: #ffa000;
    color: black;
}
.Collapsible.yellow .Collapsible__trigger:hover {
    background: #e09312;
    color: black;
}

.Collapsible.blue {
    border: 1px solid #2979ff;
}
.Collapsible.blue .Collapsible__trigger {
    background: #2979ff;
    color: white;
}
.Collapsible.blue .Collapsible__trigger:hover {
    background: #1051bd;
    color: white;
}

.Collapsible.green {
    border: 1px solid #27ae60;
}
.Collapsible.green .Collapsible__trigger {
    background: #27ae60;
    color: white;
}
.Collapsible.green .Collapsible__trigger:hover {
    background: #04883b;
    color: white;
}

.Collapsible.black {
    border: 1px solid #000000;
}
.Collapsible.black .Collapsible__trigger {
    background: #000000;
    color: white;
}
.Collapsible.black .Collapsible__trigger:hover {
    background: #636363;
    color: white;
}

.account-status-row {
    margin-top: -70px;
    margin-bottom: 50px;
}

.free-trial{
    font-size: 18px;
    background: black;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
}

.code {
    background: #e6e6e6;
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.code.green{
    background: #67ff92;
}

.stripe-settings-wrapper {
    padding: 40px 45px;
}

.intext-link {
    padding: 5px;
    background: #4389ff;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}
.intext-link:hover {
    background: #000000;
    color: white;
}

.stripe-keys-form {
    background: white;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

.stripe-webhook {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    text-align: center;
    border: 1px dashed #9c9c9c;
    font-size: 14px;
    font-weight: bold;
}

.request-form-toggle-option-wrapper {
    display: flex;
}

.request-form-price-adjustment-wrapper {
    font-weight: bold;
    background: #eaeaea;
    height: 30px;
    padding: 5px 15px;
    line-height: 23px;
    color: #4e4e4e;
    border-radius: 5px;
    margin-left: 10px;
}

.form-box {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #e0dfdf;
    margin-bottom: 10px;
}

.offering-title {
    font-size: 20px;
    border-bottom: 1px dotted #b9b9b9;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.sub{
    font-size: 18px;
    font-weight: bold;
}

.overalls{
    background: white;
    margin: 0 !important;
    border-radius: 5px;
    margin-top: 10px !important;
    padding: 5px 5px 5px 25px;
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper .content {
    display: flex;
    flex-direction: column;
}
.left-sidebar-1 .wrapper .content .sidebar-heading .sidebar-options,
.left-sidebar-1 .wrapper .content .sidebar-heading .sidebar-image{
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    height: auto;
}
.left-sidebar-1 .wrapper .content .sidebar-heading .sidebar-options{
    margin-left: 10px;
}
.left-sidebar-1 .wrapper .content .sidebar-heading {
    padding: 20px !important;
    height: auto;
    display: flex;
}
[data-sidebar="primary"] .content .left-sidebar-section{
    height: auto;
}
.btn.btn-link.btn-signout{
    color: white;
}
.mobile-login-button{
    font-size: 1.05rem;
    font-weight: 600;
    color: white;
    margin: 10px;
    position: relative;
    float: right;
    padding: 0px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}
.moble-live-mode {
    display: none;
}

/* Integration Page */
.sbi--modal {
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 9999999;
    max-width: 80%;
    width: 860px;
    transform: translate(-50%);
}
.sbi--wrapper {
    background: white;
    padding: 20px;
    border-radius: 5px;
    height: calc(100vh - 100px);
    overflow: scroll;
}
.sbi--serverside, .sbi--clientside {
    padding: 10px 0 40px;
}

.sbi--wrapper pre {
    border: 1px dashed;
    padding: 20px;
    margin: 20px 0;
    max-height: 250px;
    overflow: scroll;
}
.sbi--embed-code-button, .sbi--webhook-button {
    color: white;
    background: #04a9f4;
    border: none;
    border-radius: 40px;
    margin: 10px 0;
    padding: 1px 14px;
}
.sbi--embed-code-button.sbi--ecb--hide {
    background: red;
    margin: 10px 20px;
}
.sbi--webhook-button.sbi--wb--retest {
    background: white;
    color: black;
    margin-left: 10px;
    border: 1px solid #cacaca;
}
span.sbi--embed-label, span.sbi--webhook-label {
    display: block;
    font-weight: bold;
}
.sbi--embed-button-wrapper, .sbi--webhook-button-wrapper {
    border: 1px dashed #c1c1c1;
    margin: 20px 0;
    padding: 20px;
    background: white;
}
.sbi--wrapper h2 {
    border-bottom: 3px solid #04a9f4;
    padding-bottom: 14px;
    margin-bottom: 30px;
}

@keyframes displayMessage {
    0%{
        margin-top: -10px;
        opacity: 0;
    }
    100%{
        margin-top: 2px;
        opacity: 1;
    }
}

/* desktops only */
/* top navigation bar */
@media (min-width: 769px){
    .navbar .navbar-left-icons{
        flex: 0 0 70px;
    }
    .service-detail-block{
        top: 35px;
        right: 20px;
    }
    .page-on-top.service-detail{
        padding: 0px !important;
    }
    #create-new-service, .data-table-top-button{
        position: absolute;
    }
}
/* iPad or smaller */
@media (max-width: 768px){
    #datatable-example-2_filter{
        position: absolute;
        top: 0px;
        right: -61px;
    }
    #tables-datatable{
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .nav.nav-inline.navbar-left-icons{
        display: block;
    }

    .navbar {
        margin: 0;
        padding: 0 20px 5px;
    }
    .jumbotron {
        padding: 0 20px 0;
    }
    .page-service-instance {
        padding: 20px 15px;
    }
    .dashboard-widget .widget-data{
        font-size: 1.25em;
    }

    /* system settings page */
    .system-settings-page-form .system-settings-group div {
        flex-basis: 100%;
        padding: 5px 0px 5px;
    }
    .admin-editing-gear{
        display: none;
    }
}
/* iPhone Plus or smaller */
@media (max-width: 414px) {
    .dashboard-widgets {
        flex-direction: column;
    }
    .page-service-instance {
        padding: 0px 15px;
    }

    /* nav */
    .navbar-brand.nav-logo{
        padding-right: 0;
    }
    .moble-live-mode {
        display: block;
        position: relative;
        float: right;
        padding: 1px 10px;
        margin-top: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .mobile-login-button {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }

    /* home page */
    h1 {
        font-size: 46px !important;
    }

    /* message */
    .app-message{
        padding: 3px 15px;
        width: 95%;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
    }
}

/* iPhone 5 */
@media (max-width: 320px) {
    .nav-logo img {
        height: 24px;
        margin: 2px 0;
    }
    .mobile-login-button{
        font-size: 0.9rem;
    }
    body.home .featured{
        height: calc(100vh - 130px);
        min-height: 0 !important;
    }
    h1 {
        font-size: 36px !important;
    }
}