.navbar-brand{
  padding: 0px;
}
.nav-logo img {
  height: 67px !important;
  line-height: 100px;
  padding-right: 30px;
}

.navbar-nav>li>.dropdown-menu{
  border-radius: 5px;
  border: 0px;
}

ul.nav.navbar-nav.navbar-right > li > * {
  margin: 6px;
}
.nav-profile {
  transform: translate(-9px, -3px);
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="dark"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/dark.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="primary"] {
  color: #212121;
  /*background: #f5f5f5;*/
  /*background: #0d47a1;*/
  /*background-image: url(../../assets/images/primary.jpg);*/
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="secondary"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/secondary.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="success"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/success.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="info"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/info.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="warning"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/warning.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="danger"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/danger.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="white"] {
  color: #212121;
  background: #fff;
}

html:not(.loading) [data-layout="top-navigation-1"][data-navbar="light"] {
  color: #212121;
  background: #f5f5f5;
  background-image: url(../../assets/images/light.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

.loading [data-layout="top-navigation-1"] .navbar,
.loading [data-layout="top-navigation-1"] .jumbotron-2,
.loading [data-layout="top-navigation-1"] > .container-fluid {
  visibility: hidden;
}

[data-layout="top-navigation-1"] ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

[data-layout="top-navigation-1"] .navbar {
  z-index: 1031;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

[data-layout="top-navigation-1"] .navbar .toggle-layout i {
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

[data-layout="top-navigation-1"] .jumbotron-2 {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - $left-sidebar-width);
}

[data-layout="top-navigation-1"] .main {
  padding-left: 20px;
  padding-right: 20px;
  -ms-overflow-style: none;
}

[data-layout="top-navigation-1"] .main .page-on-top {
  margin-left: 20px;
  margin-right: 20px;
  background: #f7f7f7;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px;
  min-height: 80vh;
  margin-top: -60px;
  /*-webkit-transform: translate3d(0, -60px, 0);*/
          /*transform: translate3d(0, -60px, 0);*/
}

[data-layout="top-navigation-1"] .left-sidebar-1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 250px;
  overflow: hidden;
  z-index: 1033;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0);
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 270px;
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper .content {
  width: 250px;
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper .content .logo span {
  opacity: 1;
}

[data-layout="top-navigation-1"].layout-collapsed .left-sidebar-1 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop,
[data-layout="top-navigation-1"] .right-sidebar-backdrop,
[data-layout="top-navigation-1"] .top-search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1032;
  opacity: 0;
  background: #000;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop.fade,
[data-layout="top-navigation-1"] .right-sidebar-backdrop.fade,
[data-layout="top-navigation-1"] .top-search-backdrop.fade {
  display: block;
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop.in,
[data-layout="top-navigation-1"] .right-sidebar-backdrop.in,
[data-layout="top-navigation-1"] .top-search-backdrop.in {
  opacity: 0.25;
}

button.navbar-toggle.collapsed {
  border: none;
}

button.navbar-toggle.collapsed .icon-bar {
  color: white;
  background-color: white;
}

button.navbar-toggle.collapsed:hover, button.navbar-toggle.collapsed:focus {
  background: none;
}

button.navbar-toggle.collapsed:hover .icon-bar {
  background: #d4d4d4;
}


@media (max-width: 543px) {
  [data-layout="top-navigation-1"] .navbar {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .main {
    padding-left: 0;
    padding-right: 0;
  }
  [data-layout="top-navigation-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  [data-layout="top-navigation-1"] .navbar {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .main {
    padding-left: 0;
    padding-right: 0;
  }
  [data-layout="top-navigation-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
}
