/* nav */
.navbar-default{
  background-color: transparent;
  border: none;
}
.navbar{
  background-color: #000000;
  margin: 0px;
  padding: 1px 40px 1px 40px;
  border-radius: 0px;
  z-index: 1031;
}

.navbar-default .navbar-nav>li>a,
ul.nav.navbar-nav.navbar-right > li > button{
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.nav.navbar-nav.navbar-right > li > .badge{
  height: 29px;
  width: 29px;
  margin-top: 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: white;
}

.navbar-default .navbar-nav>li>a[data-layout="top-navigation-1"] .navbar:hover {
  color: #cecece;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: white;
}

/* logo */
.navbar-brand{
  height: auto;
  padding: 0px;
  padding-right: 30px;
}

.navbar-brand.nav-logo {
  margin-top: 7px;
}

.nav-logo img {
  height: 30px;
}


/* nav dropdown */
.navbar .navbar-left-links a.dropdown-item{
  font-weight: normal;
  padding: 20px;
  width: 180px;
}
.nav.nav-inline.navbar-left-icons{
  display: none;
}
.navbar .dropdown-menu li a {
  padding: 14px 15px;
}
.user-dropdown .badge:after {
  content: " ";
  position: absolute;
  background: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -10;
}

.navbar-nav>li>.dropdown-menu{
  border-radius: 5px;
  border: 0px;
}

.nav-profile {
  transform: translate(-9px, -3px);
}

[data-layout="top-navigation-1"] ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

[data-layout="top-navigation-1"] .navbar .toggle-layout i {
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

[data-layout="top-navigation-1"] .jumbotron-2 {
  padding-left: 20px;
  padding-right: 20px;
  /*width: calc(100% - $left-sidebar-width);*/
}

[data-layout="top-navigation-1"] .left-sidebar-1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 250px;
  overflow: hidden;
  z-index: 1033;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0);
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper .content {
  width: 250px;
}

[data-layout="top-navigation-1"] .left-sidebar-1 .wrapper .content .logo span {
  opacity: 1;
}

[data-layout="top-navigation-1"].layout-collapsed .left-sidebar-1 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop,
[data-layout="top-navigation-1"] .right-sidebar-backdrop,
[data-layout="top-navigation-1"] .top-search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1032;
  opacity: 0;
  background: #000;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop.fade,
[data-layout="top-navigation-1"] .right-sidebar-backdrop.fade,
[data-layout="top-navigation-1"] .top-search-backdrop.fade {
  display: block;
}

[data-layout="top-navigation-1"] .left-sidebar-backdrop.in,
[data-layout="top-navigation-1"] .right-sidebar-backdrop.in,
[data-layout="top-navigation-1"] .top-search-backdrop.in {
  opacity: 0.25;
}

button.navbar-toggle.collapsed {
  border: none;
}

button.navbar-toggle.collapsed .icon-bar {
  color: white;
  background-color: white;
}

button.navbar-toggle.collapsed:hover, button.navbar-toggle.collapsed:focus {
  background: none;
}

button.navbar-toggle.collapsed:hover .icon-bar {
  background: #d4d4d4;
}

.navvbar-badge {
  margin-top: 12px;
}


@media (max-width: 543px) {
  [data-layout="top-navigation-1"] .navbar {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .main {
    padding-left: 0;
    padding-right: 0;
  }
  [data-layout="top-navigation-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  [data-layout="top-navigation-1"] .navbar {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-layout="top-navigation-1"] .jumbotron-2 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="top-navigation-1"] .main {
    padding-left: 0;
    padding-right: 0;
  }
  [data-layout="top-navigation-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
