.modal-dialog {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 1050;
}

.modal-icon{
  margin-right: 20px;
}

.modal-dialog .modal-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e0e0e0;
  padding: 15px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-dialog .modal-header .modal-title {
  font-size: 1.1rem;
}

.modal-dialog .modal-header .close {
  color: white;
  opacity: 0.6;
  font-weight: 100;
  margin-top: 0px;
}

.modal-dialog .modal-footer {
  text-align: right;
  padding: 15px 20px;
  paddinb-bottom: 20px;
  border-radius: 5px;
}

.modal-body{
  padding: 0px;
}
.modal-content{
  background-color: #fafafa;
}

.modal.modal-white .modal-header {
  background-color: #ffffff;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-black .modal-header {
  background-color: #000000;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-light .modal-header {
  background-color: #f5f5f5;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-dark .modal-header {
  background-color: #212121;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-default .modal-header {
  background-color: #212121;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-primary .modal-header {
  background-color: #0d47a1;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-secondary .modal-header {
  background-color: #c51162;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-success .modal-header {
  background-color: #388e3c;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-info .modal-header {
  background-color: #0091ea;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-warning .modal-header {
  background-color: #ffa000;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.modal-danger .modal-header {
  background-color: #d32f2f;
  color: #fff;
  border-bottom: none;
  padding: 15px 20px;
}

.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
          transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
          transform: translate3d(0, 25%, 0);
}

.modal.fade.scale .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal.fade:not(.in).scale .modal-dialog {
  -webkit-transition: opacity 0.3 ease, -webkit-transform 0.15s ease;
  transition: opacity 0.3 ease, -webkit-transform 0.15s ease;
  transition: transform 0.15s ease, opacity 0.3 ease;
  transition: transform 0.15s ease, opacity 0.3 ease, -webkit-transform 0.15s ease;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.modal-dialog {
  position: fixed;
  top: 33%;
  left: 50%;
}
/*.modal.hidden{*/
  /*z-index: -9999;*/
  /*display: fixed !important;*/
  /*transition: opacity 0.2s ease-out;*/
  /*opacity: 0;*/
/*}*/
/*.modal.in{*/
  /*display: fixed !important;*/
  /*transition: opacity 0.2s ease-in;*/
  /*opacity: 1;*/
/*}*/

.modal-enter{
  opacity: 0;
  transform: scale(0.01) translate(-50%, -50%) !important;
  transform-origin: 0 0;
}
.modal-enter.modal-enter-active{
  opacity: 1;
  transform: scale(1) translate(-50%, -50%) !important;
  transform-origin: 0 0;
  transition: all 200ms ease-out;
}
.modal-leave{
  opacity: 1;
  transform: scale(1) translate(-50%, -50%) !important;
  transform-origin: 0 0;
}
.modal-leave.modal-leave-active{
  opacity: 0;
  transform: scale(0.01) translate(-50%, -50%) !important;
  transform-origin: 0 0;
  transition: all 200ms ease-out;
}
.modal-appear {
  opacity: 0.01;
  transform: scale(0.01) translate(-50%, -50%) !important;
  transform-origin: 0 0;
}
.modal-appear.modal-appear-active {
  opacity: 1;
  transform: scale(1.0) translate(-50%, -50%) !important;
  transform-origin: 0 0;
  transition: all 200ms ease-in;
}