.user-widget-11 {
  min-height: 160px;
  width: 100%;
  position: relative;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.user-widget-11:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  min-height: 200px;
  width: 100%;
  background-color: #ffa000;
  opacity: 0.8;
}

.user-widget-11 .img-circle {
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.user-widget-11 p {
  margin-bottom: 5px;
}

.user-widget-11 p:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 700;
}

.user-widget-11 .btn {
  color: #fff;
}
