.iconToggleField {
    position: relative;
    width: 35px !important;
    height: 35px;
    border: 1px solid #dedede;
    padding: 2px 6px;
    font-size: 22px;
    border-radius: 70px;
    margin: 0px 3px;
    cursor: pointer;
    transition: border-width 0.1s ease-in-out;
}
.iconToggleField.active{
    border: none;
}
.iconToggleField.hover{
    border: 3px solid;
    transition: border-width 0.1s ease-in-out;
}
.iconToggleField .itf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* slider toggle */
.iconToggleField.slideToggle {
    height: 20px;
    width: 61px !important;
    border: 1px solid #eee;
    background: #eee;
    margin: 5px 0px;
}
.iconToggleField.slideToggle .itf-icon {
    border-radius: 50px;
    width: 30px;
    text-align: center;
}
.iconToggleField.slideToggle.active .itf-icon {
    left: 42px;
    transition: left 0.1s ease-in-out;
}
.iconToggleField.slideToggle .itf-icon {
    left: 18px;
    transition: left 0.1s ease-in-out;
    background: #c5c5c5;
}