.iconToggleField {
    position: relative;
    width: 35px !important;
    height: 35px;
    border: 1px solid #dedede;
    padding: 2px 6px;
    font-size: 22px;
    border-radius: 70px;
    margin: 0px 3px;
    cursor: pointer;
    transition: border-width 0.1s ease-in-out;
}
.iconToggleField.active{
    border: none;
}
.iconToggleField.hover{
    border: 3px solid;
    transition: border-width 0.1s ease-in-out;
}
.iconToggleField .itf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
