#service-basic-info, #service-payment-info, #service-custom-props {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}
.button-box{
    padding: 15px 0px;
    display: flex;
}
.button-box.space-between{
    justify-content: space-between;
}
.button-box.right{
    justify-content: flex-end;
}
.button-box-left{
    justify-content: flex-start;
}
.button-box.right > *{
    margin-left: 5px;
}
.button-box.left > *{
    margin-right: 5px;
}

/* split payment */
.split-payment-items {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.split-payment-item {
    flex-basis: 49%;
}

/* custom properties */
.custom-field-item, .split-payment-item {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0px;
    list-style: none;
}
.custom-property-field-group {
    margin-right: 8px;
}
.custom-property-fields{
    display: flex;
    flex-wrap: wrap;
}
.custom-property-fields .form-group-flex{
    margin-bottom: 0px;
}
#custom-prop-name{
    width: 45%;
}
#custom-prop-type{
    width: 20%
}
#custom-prop-settings{
    width: 30%
}
#custom-prop-settings > div {
    float: left;
    width: 40px;
}
#custom-prop-widget{
    width: 100%;
    margin-top: 5px;
}
#custom-field-delete-button, #split-payment-delete-button{
    background-color: #ffffff;
    color: #dedede;
    border-radius: 25px;
}
.custom-field-item .form-group{
    margin-bottom: 0px;
}
.custom-property-add-field-toggle {
    border-color: #eeeeee;
}

/* select options widget */
.addon-options-widget-config-input-wrapper,
.addon-options-widget-pricing-inputs-wrapper,
.addon-options-widget-pricing-operation-wrapper,
.addon-options-widget-default-value-wrapper,
.addon-text-widget-input-wrapper,
.addon-widget-pricing-inputs-wrapper,
.addon-checkbox-widget-default-value-wrapper{
    margin: 5px 0px !important;
}
.addon-options-widget-price-inputs-wrapper,
.addon-checkbox-widget-price-inputs-wrapper{
    width: 100%;
}
.addon-options-widget-config-input-wrapper .form-input-flex {
    flex-grow: 0;
    flex-basis: 70%;
}
.addon-options-widget-pricing-input-label {
    flex-basis: 30%;
}
.addon-widget-pricing-input-label {
    flex-basis: 282px;
}
.addon-options-widget-price-input {
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
}
.addon-options-widget-price-input:focus{
    border-radius: 4px;
}
.addon-options-widget-price-inputs {
    margin-bottom: 5px !important;
}

/* checkbox widget */
.addon-widget-price-tip{
    display: block;
    width: 100%;
    color: #dfdfdf;
    border-bottom: 1px solid #eee;
}

/* request form */
.addon-checkbox-widget-default-value .form-input-flex {
    display: flex;
    color: #7b7b7b;
}
.addon-checkbox-widget-default-value .form-input-flex .form-group{
    margin-right: 10px;
}