.text-widget-wrapper{
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.text-widget-wrapper.plain{
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  min-height: 97px;
  background-color: rgb(217, 225, 234) !important;
  color: #454b52;
  /*border: 1px solid #bbc5ce;*/
}

.instance-price .text-widget-wrapper.plain{
  border: 2px solid #000;
  background-color: white !important;
}

.instance-price .text-widget-1 .subtitle{
  font-size: 26px;
}

.text-widget-1 {
  margin: 10px 0;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}

.text-widget-1 .row {
  height: 80px;
  overflow: hidden;
}

.text-widget-1 .col-xs-4 {
  text-align: center;
  padding: 30px 0;
}

.text-widget-1 .col-xs-4.small {
  padding: 10px 0 5px;
}

.text-widget-1 .title {
  font-size: 1rem;
}

.text-widget-1.reversed .subtitle {
  text-align: right;
}

.text-widget-1 .subtitle {
  font-size: 1.2rem;
}

.text-widget-1 .subtitle.small {
  font-size: 16px;
}

.widget-hover:hover{
  background: #055d3d !important;
}
.cancel:hover{
  background: #004498 !important;
}
.cancel-pending:hover{
  background: #ef9505 !important;
}
.restart:hover{
  background: #055d3d !important;
}
.open-application:hover{
  background: #7f04bb !important;
}