<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{company_name}} Billing Settings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://js.servicebot.io/js/servicebot-billing-settings-embed.js" type="text/javascript"></script>

    </head>
    <body id="servicebotio" data-layout="top-navigation-1" data-sidebar="primary" data-navbar="primary">
        <div id="servicebot-hosted-embeddable">

        </div>
        <script  type="text/javascript">
        eval(`{{{dbConfig}}}`);
        eval(`{{{generatedConfig}}}`)
        
        Servicebot.BillingSettings({...dbConfig, ...genConfig, url: "http://localhost:3000"});
</script>
    </body>
</html>