.admin-editing-sidebar.bar-mode {
    position: fixed;
    right: 0px;
    top:    0px;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.92);
    border-left: 1px solid #f3f3f3;
    overflow-y: scroll;
    z-index: 999999999;
}
.close-editing-sidebar{
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 11px;
    cursor: pointer;
}
.admin-editing-gear{
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: #e4e4e4;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 99999;
}
.admin-editing-gear span{
    padding: 11px;
    color: #000000;
    cursor: pointer;
}
.admin-editing-sidebar h4{
    margin: 0px;
}
.admin-editing-sidebar .system-settings-group{
    margin-bottom: 0px;
}
.sidebar-section{
    padding: 15px;
    border-bottom: 1px solid gray;
}
.sidebar-section.heading{
    padding: 17px 15px 18px;
    background-color: white;
    text-align: left;
}

/* form elements */
.admin-editing-sidebar .system-settings-group > div {
    position: relative;
}
.admin-editing-sidebar .twitter-picker{
    left: 0px;
}
.admin-editing-sidebar label {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    display: block;
}
.admin-editing-sidebar .ColorPickerPreview {
    width: 30px !important;
    height: 30px !important;
}
.admin-editing-sidebar button.btn{
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
}
.admin-editing-sidebar .image-upload-box{
    margin-bottom: 10px;
}