.alert{
    min-height: 62px;
}
.alert i{
    margin-right: 7px;
}
.alert-success{
    color: #1b926c;
}
.alert-warning{
    color: #ffa000;
}
.alert-danger{
    color: #ff0015;
}

.alert-info{
    color: #0f6175;
    background: #deecf2;
    border-color: #bfcfd6;
}

.s-alert-box {
    width: 50%;
    margin: 10px auto;
    background: black;
    border-radius: 4px;
    color: white;
    padding: 2px 15px;
}

.alert-box {
    background: whitesmoke;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.alert-box.red {
    background: #da0304;
    border: 0;
    color: #ffffff;
}