.badge {
    background-color: #e4e4e4;
    border: 2px solid white;
    border-radius: 50%;
    padding: 13px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.24);
    position: relative;
}

.badge .loader{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.badge.badge-xs {
    border: 0px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24);
    height: 25px;
    width: 25px;
    padding: 1px;
    margin-top: -1px;
}
.badge.badge-sm {
    border: 0px;
    height: 40px;
    width: 40px;
    padding: 2px;
}
.badge.badge-md {
    height: 60px;
    width: 60px;
    padding: 2px;
}
.badge.badge-lg {
    height: 80px;
    width: 80px;
    padding: 2px;
}

.badge.badge-xl {
    height: 100px;
    width: 100px;
    padding: 2px;
}


.badge img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.system-settings-page-form .badge img{
    width: 100%;
    height: 40%;
    border-radius: 0;
}
.badge-avatar{
    background-color: #ffffff;
}


.status-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.status-badge.grey {
    background: #dadada;
    color: #545454;
}

.status-badge.green {
    background: #27ae60;
}

.status-badge.red {
    background: red;
}

.status-badge.yellow {
    background: #ffdc13;
    color: #545454;
}

.status-badge.blue {
    background: #039be5;
}

.status-badge.dblue {
    background: #639eb7;
}

.status-badge.navy {
    background: #143ab1;
}

.status-badge.purple {
    background: #791dad;
}

.status-badge.black {
    background: #000000;
}

.status-badge.neutral {
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}