.react-buttons{
    display: flex;
    align-items: center;
    padding: 0px;
}
.react-buttons .loader {
    margin: 6px 10px;
}
.react-buttons.inline .loader {
    float: left;
}

.react-buttons.inline.right{
    float: right;
    margin-left: 5px;
}
.react-buttons.inline.left {
    float: left;
    margin-right: 5px;
}
.react-buttons.inline.center, .react-buttons.center {
    justify-content: center;
}
.image-upload-message{
    text-align: center;
}

.image-upload-message .react-buttons{
    margin-top: 10px;
}
.react-buttons.right {
    justify-content: flex-end;
    margin-left: 5px;
}
.react-buttons.left {
    justify-content: flex-start;
}

/* success */
.ajax-response{
    margin: 10px;
    height: 20px;
    width: 20px;
}

/* buttons */
.btn-bar{
    margin-top: 15px;
    width: 100%;
}