.cards {
    width: 100%;
}
.card {
    min-height: 255px;
    margin-bottom: 30px;
}
.card .card-block {
    /*padding: 1.5rem 1rem 1rem;*/
}

.card .card-block .card-title {
    margin-bottom: 0.75rem;
}

.card .card-block .card-text {
    margin-bottom: 30px;
}