/* embedded service cards */
#embed .card.service{
    height: 100%;
    min-height: 100%;
    color: #4a4a4a;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    -moz-transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    position: relative;
}
/*#embed .card.service:hover{*/
    /*-webkit-transform: translateY(-2px);*/
    /*-moz-transform: translateY(-2px);*/
    /*-ms-transform: translateY(-2px);*/
    /*transform: translateY(-2px);*/
    /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17),*/
    /*0 3px 1px -2px rgba(0, 0, 0, 0.2),*/
    /*0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/
#embed .card.service:hover img.service-icon {
    -webkit-animation: jump 1.5s cubic-bezier(0, 0.86, 0.71, 1.18) 0s 1 normal ;
    animation: jump 1.5s cubic-bezier(0, 0.86, 0.71, 1.18) 0s 1 normal ;
}
.with-icon .card-title-holder {
    /*padding-left: 50px;*/
}
#embed .card.service .card-title{
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 0px;
}
#embed .card.service .card-subtitle{
    margin-top: -0.15rem;
    font-size: 1.1rem;
}
#embed .card.service .text-muted, .bmd-help{
    color: rgba(208, 208, 208, 0.81) !important;
}
#embed .card.service.dark{
    color: #fff;
}
#embed .card.service .card-block{
    padding: 1rem 1rem 0.85rem;
}
#embed .card.service .card-body{
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
}
#embed .card.service .card-body p{
    /*padding: 0.7rem 1rem;*/
}
#embed .card-footer{
    bottom: 0px !important;
    width: 100% !important;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}
#embed .card.service .service-cover{
    height: 135px;
    overflow: hidden;
}
#embed .card.service .service-cover img {
    width: 100%;
}
#embed .card.service .service-icon{
    margin-right:15px;
    width: 45px;
}
.EmbedFrame .loading{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}