/* cards */
.card-wrapper.service{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card.service{
    position: relative;
    height: 100%;
    background: #fff;
    /*border: 1px solid #f3f3f3;*/
    color: #4a4a4a;
    font-size: 1rem;
    margin-bottom: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    -moz-transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    transition: all 0.5s cubic-bezier(0, 0.86, 0.71, 1.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-block-wrapper {
    flex-grow: 2;
    border: 1px solid #f3f3f3;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}
.with-icon .card-title-holder {
    padding-left: 50px;
}
.card.service .card-title, .card-footer .price{
    font-size: 16px;
    font-weight: bolder;
    line-height: 1.75rem;
    margin-bottom: 0px !important;
}
.card.service .card-body p{
    font-size: 14px;
    font-weight: 100;
    text-transform: initial;
}
.card-footer .price{
    width: 100%;
    text-align: center;
}
.request-button {
    position: absolute;
    margin-top: 100%;
    width: 100%;
    bottom: -50px;
}
.request-button a {
    padding: 0px;
    width: 100%;
    border-radius: 0px;
}
.request-button a .btn.btn-black{
    width: 100%;
    border-radius: 0px;
    padding: 12px 0px;
}
.card-wrapper.service .request-button{
    transition: bottom 300ms;
}
.card-wrapper.service:hover .request-button {
    bottom: 0px;
}
.card.service .card-subtitle{
    margin-top: -0.15rem;
    font-size: 1.1rem;
}
.card.service .text-muted, .bmd-help{
    color: rgba(208, 208, 208, 0.81) !important;
}
.card.service.dark{
    color: #fff;
}
.card.service .card-title-holder, .card.service .card-body, .card.service .card-footer {
    padding: 20px 15px 10px;
}
.card.service .card-body{
    height: 100%;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 7px;
}
.card-footer{
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.card-footer .seller, .card-footer .btn{
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0px;
    font-weight: bolder;
    padding: 15px;
}
.card-footer .btn{
    margin-bottom: 0px !important;
}

.card.service .service-cover{
    height: 135px;
    overflow: hidden;
}
.card.service .service-cover img {
    width: 100%;
}
.card.service .service-icon{
    margin-right:15px;
    width: 35px;
}

.card-image-holder{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image-holder img {
    max-width: 50%;
    max-height: 58%;
    margin: 10%;
}
.card-service-company{
    font-weight: 900;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-end;
}
.card-service-company .price {
    padding-left: 30px;
}

.home .page-on-top{
    position: relative;
}
.service-column{
    position: inherit;
    margin-bottom: 20px;
}
.card-backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 99;
}



body.no-scroll{
    overflow: hidden;
}

.card.service.opened{
    display: flex;
    flex-direction: column;
}
.card.service.opened .card-body{
    overflow: scroll;
    margin-bottom: 80px;
}