input, .form-control {
    font-size: 16px;
    font-weight: 300;
    padding: 6px 10px;
    border: 1px solid #c1e4fe;
    border-radius: 6px;
    height: 36px;
    line-height: 19px;
}
input:focus, .form-control:focus {
    border: 1px solid #4eb7f5;
}
input:hover, .form-control:hover{
    background: #eaf7ff;
}
textarea:focus, input:focus, button:focus, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.price-input{
    position: relative;
    height: 34px;
    background-color: #ffffff;
}
.price-mask, .price-value{
    position: absolute;
}
.price-value{
    background-color: transparent;
}
.price-value, .price-value:focus{
    z-index: 9;
    color: rgba(255, 255, 255, 0);
}
.price-mask{
    font-size: 14px;
    line-height: 10px;
    padding: 12px;
    z-index: 18;
}
/* color picker */
.twitter-picker{
    position: absolute !important;
    top: 82px;
    left: 15px;
    z-index: 100;
}
.sketch-picker {
    position: absolute !important;
    top: 82px;
    left: 15px;
    z-index: 101;
}

.color-picker-input .control-label{
    display: block;
}
.color-picker-input .ColorPickerPreview{
    border: 1px solid #d4d4d4;
}
.color-picker-input .ColorPickerPreview,
.color-picker-input .custom-color-picker {
    float: left;
}
.color-picker-input .custom-color-picker {
    margin-left: 10px;
    color: #989898;
}
.form-group.color-picker-input {
    position: relative;
}
/* TagsInput tags input*/

.react-tagsinput{
    padding-top: 0px !important;
    border-radius: 4px;
    border-color: #c1e4fe !important;
}
input.react-tagsinput-input::placeholder {
    color: #0091ea;
}
input.react-tagsinput-input:before {content: "Add Available Values";position: relative;color: black;margin-top: 10px;}

input.react-tagsinput-input {
    margin-top: 0px;
    padding: 5px;
    margin-bottom: 0px;
    border: none;
    font-size: 16px !important;
    font-weight: 100 !important;
    width: 111px !important;
}

span.react-tagsinput-tag {
    background: #0091ea;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0 6px;
    margin: 2px 5px 2px 0;
    font-size: 16px;
    font-weight: 100;
}

a.react-tagsinput-remove {
    color: white;
    font-size: 16px;
}

.react-tagsinput--focused{
    border-color: #0091ea !important;
}

.form-group .form-control:nth-child(3n) {
    margin-top: 9px;
    margin-bottom: 12px;
}

input[type=checkbox], input[type=radio]{
    margin-top: 0px;
}

/* flex form groups */
.form-group-flex {
    display: flex;
}
.form-label-flex-md {
    flex-basis: 200px;
}
.form-input-flex{
    flex-grow: 1;
}
.form-group-flex .form-error{
    flex-basis: 100%;
}
.form-group-flex.column{
    flex-direction: column;
}
.form-group-flex.centered{
    justify-content: center;
    align-items: center;
}

/* image uploader */
.image-uploader input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
}
.image-uploader input:hover{
    cursor: pointer;
}
.image-uploader, .image-uploader > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}
.template-image-upload{
    width: 100%;
    overflow: hidden;
    height: 120px;
    border-radius: 5px;
    border: 1px dashed #abb8c3;
    margin: 3px 0px 10px;
    position: relative;
}
#imgformtemplate-image img {
    width: auto;
    padding: 5px;
}
.template-image-upload img {
    max-height: 100%;
    padding: 20px;
    margin-top: 30px;
}
.template-image-upload:after {
    content: "Upload";
    z-index: 1;
}
#imgformtemplate-image .no-image-yet {
    display: none;
}
#imgformtemplate-icon .no-image-yet {
    display: none;
}