#servicebot-loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 99999999;
    /*-webkit-transition: top 0.8s cubic-bezier(0.62, 0, 1, 0.26);*/
    /*-moz-transition: top 0.8s cubic-bezier(0.62, 0, 1, 0.26);*/
    /*-ms-transition: top 0.8s cubic-bezier(0.62, 0, 1, 0.26);*/
    /*-o-transition: top 0.8s cubic-bezier(0.62, 0, 1, 0.26);*/
    /*transition: top 0.8s cubic-bezier(0.62, 0, 1, 0.26);*/
    visibility: visible;
    opacity: 1;
}
#servicebot-loader img{
    max-width: 300px;
    max-height: 100px;
    margin-bottom: 20px;
}
#servicebot-loader .loading{
    width: 40px;
    height: 40px;
}
#servicebot-loader{
    top: 0px;
}
#servicebot-loader.move-out {
    /*top: -100vh;*/
    -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
    -moz-transition: visibility 0s linear 300ms, opacity 300ms;
    -ms-transition: visibility 0s linear 300ms, opacity 300ms;
    -o-transition: visibility 0s linear 300ms, opacity 300ms;
    transition: visibility 0s linear 300ms, opacity 300ms;
    visibility: hidden;
    opacity: 0;
}