ul.nav.navbar-nav.navbar-right {
    display: flex;
    align-items: initial;
}
li.nav-notification {
    margin-right: 28px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 0px;
    cursor: pointer;
}
li.nav-notification i{
    color: white;
    line-height: 14px;
}
.nav-notification-indicator{
    height: 8px;
    width: 8px;
    background: red;
    position: absolute;
    right: -4px;
    bottom: 17px;
    border-radius: 50px;
}
span.notification-badge, span.notification-badge a{
    color: white;
}
span.notification-badge {
    background: #ff0000;
    border-radius: 50px;
    padding: 3px 12px 3px 12px;
    text-align: center;
    margin-left: 5px;
    font-weight: 100;
    font-size: 0.9em;
    line-height: 14px;
}
.notification-stripe-keys{
    color: #ffffff !important;
    background-color: #191919 !important;
    text-align: left !important;
    width: 280px !important;
    padding-top: 20px !important;
}
.notification-stripe-keys.place-bottom:after{
    border-bottom-color: #191919 !important;
}
.notification-stripe-keys p{
    font-size: 1.2em;
    line-height: 1.2rem;
}
.notification-stripe-keys li{
    margin-bottom: 5px;
}
/* mini dropdown */
.mini-notification-list {
    position: absolute;
    width: 300px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    border-radius: 3px;
    z-index: 10000;
    font-size: 14px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
}
.mini-notification-list:before {
    content: '';
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    margin: 0 0 15px 0;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.mini-notification-list li {
    list-style: none;
    padding: 10px 20px 10px 32px;
    line-height: 1.5em;
    position: relative;
}

.mini-notification-list ul {
    padding: 0px;
}

.mini-notification-list li:hover {
    background: #f3f3f3;
}

.mini-notification-list li:first-child, .mini-notification-list li:last-child {
    padding-top: 20px;
}
.mini-notification-backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

li.unread-message:before {
    height: 8px;
    width: 8px;
    background: #dc3535;
    position: absolute;
    left: 12px;
    margin-top: 1px;
    top: 44%;
    transform: translateY(-50%);
    border-radius: 50px;
    content: '';
}