table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.dataTable td,
table.dataTable th {
  box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length {
  text-align: right;
  float: left;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
  padding: 5px 10px;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
  padding: 5px 10px;
  outline: none !important;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  min-width: 120px;
  padding: 5px 10px;
  outline: none !important;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 20px 0;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button {
  border-right-color: transparent;
  padding: 10px 15px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'FontAwesome';
  opacity: 0.5;
}

table.dataTable thead .sorting:after {
  bottom: 10px;
  opacity: 0.2;
  content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}

table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable {
  border-collapse: collapse !important;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}

div.dataTables_wrapper div.dataTables_length select {
  background: #f5f5f5 !important;
  border-color: #e0e0e0;
}

div.dataTables_wrapper div.dataTables_filter input {
  background: #f5f5f5;
  border-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button {
  border: 1px solid #e0e0e0;
  border-right: 0;
  color: #212121;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.current {
  border: 1px solid #303f9f;
  background-color: #303f9f;
  color: #fff !important;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.current:hover {
  border: 1px solid #2a378b;
  background-color: #2a378b;
  color: #fff;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.next {
  border-right: 1px solid #e0e0e0;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button:hover, div.dataTables_wrapper div.dataTables_paginate .paginate_button:active, div.dataTables_wrapper div.dataTables_paginate .paginate_button:focus {
  background-color: #f5f5f5;
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #212121;
}


/* xaas customized */
.table{
  background-color: white;
  overflow: hidden;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 0px;
    line-height: 2rem;
}

.table th, .table td{
    padding: 10px 15px !important;
}

#tables-datatable{
    max-width: 100%;
    overflow-x: scroll;
    overflow: visible;
    position: initial;
  /*padding-bottom: 100px;*/
}

#tables-datatable .table{
  padding-bottom: 90px !important;
  border-radius: 5px;
  overflow-y: visible;
}

/* condensed */
.table.condensed th,
.table.condensed td{
  padding: 8px !important;
}
.table.condensed thead td{
  font-weight: bold;
}
.table>thead>tr>th, .table>tbody>tr>td{
    font-size: 0.94rem;
    border: none;
}
.table thead {
    color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.table thead th{
    background: #3e3e3e;
}
.table th.sorted {
    background: #292929;
}
.table thead th:first-child{
    border-top-left-radius: 5px;
}
.table thead th:last-child{
    border-top-right-radius: 5px;
}

.datatable thead th:hover {
  background: #292929;
  cursor: pointer;
}

#invoice-table.table thead {
  color: #000000;
}